<ion-view view-title="">
    <div class="bar bar-header item-input-inset no-border no-padding-bottom">
        <button class="button button-clear button-positive ion-chevron-left" ng-click="goBack()"></button>
        <div class="h1 title head_color">添加</div>

    </div>
    <ion-content class="has-header">

        <div class="list addfrids-list">
            <a class="item my-item item-icon-right" href="javascript:;" ng-click="openModal()">
                <img width="40px" height="40px" src="images/person.jpg">

                <p class="item_name">添加新朋友</p>
                <i class="icon ion-chevron-right"></i>
            </a>

        </div>
    </ion-content>
</ion-view>
