<ion-view hide-back-button="true">
    <ion-header-bar align-title="center" class="bar bar-header disable-user-behavior">
        <div class="bar bar-header">
            <button class="button button-clear ion-chevron-left" ng-show="showBackButton" ng-click="goBack()"></button>
            <div class="buttons header-item">
                <div class="button-bar">
                    <button class="button bar_tab" ng-class="{active: $state.includes('contacts')} "
                            ui-sref="contacts.list">
                        通讯录
                    </button>
                    <button class="button bar_tab" ng-class="{active: $state.includes('groups')} "
                            ui-sref="groups.list">
                        分组
                    </button>
                </div>
            </div>
            <!--<button class="button button-clear button-positive ion-plus blue-color"></button>-->
        </div>

    </ion-header-bar>

    <ion-content>
        <div class="search-bar">
            <div class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="searchText" ng-change="setKeyword(searchText)">
                <button ng-show="searchText" class=" button-clear" ng-click="clearSearch(searchText='')">X</button>
            </div>

        </div>
        <div class="list">
            <div ng-repeat="item in data.items">
                <a class="item my-item"
                   ui-sref="contacts.detail({id:item._id})">
                    <img width="45px" height="45px"
                         ng-src="/images/icon2.jpg">

                    <p class="item_name">{{item.name||(item.section_name+' '+item.miniyin_store_name+'')}}</p>

                    <p class="item_tip">{{item.title||''}}</p>

                </a>
            </div>
        </div>
        <ion-infinite-scroll ng-if="hasMore" on-infinite="loadMore()"></ion-infinite-scroll>
    </ion-content>
</ion-view>