<ion-view hide-back-button="true">
    <ion-header-bar align-title="center" class="bar bar-header disable-user-behavior">
        <div class="bar bar-header">
            <button class="button button-clear ion-chevron-left" ng-show="showBackButton" ng-click="goBack()"></button>
            <div class="buttons header-item">
                <div class="button-bar">
                    <button class="button bar_tab" ng-class="{active: $state.includes('contacts')} "
                            ui-sref="contacts.list">
                        通讯录
                    </button>
                    <button class="button bar_tab" ng-class="{active: $state.includes('groups')} "
                            ui-sref="groups.list">
                        分组
                    </button>
                </div>
            </div>
            <!--<button class="button button-clear button-positive ion-plus blue-color"></button>-->
        </div>

    </ion-header-bar>

    <!---搜索框 end  -->
    <ion-content class="content padding">
        <div class="list">
            <a class="item item-icon-right" ui-sref="groups.detail({groupId:group._id})" ng-repeat="group in groups">
                <h2 class="item_name group_admin">{{group.name}}</h2>
                <p class="item_tip">{{group.count}}人</p>
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>